html {
    //note: this sets font to base 10. Derived from 10/16=.625 * 100= 62.5%
    // when you set font to rem, 2rem is equal to 20px
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 20px 40px;
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
}

a {
    text-decoration: none;
    color: black;
}

h1 {

    font-size: 2.4rem;
}

p {
    font-size: 1.4rem;
}

// * {
//     box-sizing: border-box;
// }